@using CropSurvey.Model
@model AppUser
@{
    var KnowledgeLevels = ViewData["KnowledgeLevels"] as List<SelectListItem>;
    var Genders = ViewData["Genders"] as List<SelectListItem>;
}

<form asp-action="EditUser" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Id" value=@Model.Id />
    <div class="mb-5">
        <label class="form-label" asp-for="@Model.UserName">Korisničko ime</label>
        <input class="form-control" asp-for="@Model.UserName" disabled>
    </div>
    <div class="mb-5">
        <label class="form-label" asp-for="@Model.KnowledgeLevelID">Znanje o fotografiji</label>
        <select asp-for="@Model.KnowledgeLevelID" asp-items="KnowledgeLevels" class="form-control"></select>
    </div>
    <div class="mb-5">
        <label class="form-label" asp-for="@Model.Age">Dob</label>
        <input class="form-control" asp-for="@Model.Age">
        <span asp-validation-for="@Model.Age" class="text-danger"></span>
    </div>
    <div class="mb-5">
        <label class="form-label" asp-for="@Model.GenderID">Spol</label>
        <select asp-for="@Model.GenderID" asp-items="Genders" class="form-control"></select>
    </div>
    <div class="mb-5">
        <label class="form-label" asp-for="@Model.Email">Email adresa</label>
        <input class="form-control" asp-for="@Model.Email">
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="mb-5">
        <div class="form-check">
            <input class="form-check-input" asp-for="@Model.WantResults">
            <label class="form-check-label" asp-for="@Model.WantResults">
                Želi saznati rezultate istraživanja
            </label>
        </div>
    </div>
    <button class="btn btn-primary w-full mb-2" type="submit">Spremi</button>
</form>
<button class="btn btn-danger w-full mb-10" type="button" data-bs-toggle="modal" data-bs-target="#confirmationModal">Obriši</button>

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Obriši korisnika @Model.UserName</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Jeste li sigurni da želite obrisati korisnika i sve ocjene @Model.UserName?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Odustani</button>
        <a class="btn btn-danger" asp-action="DeleteUser" asp-route-id="@Model.Id">Obriši korisnika</a>
      </div>
    </div>
  </div>
</div>