@model CropSurvey.Web.Models.QuestionDTO
@{
	ViewData["Title"] = "Anketa";
	Layout = "_AppLayout";
	var is1x1 = (bool)ViewData["is1x1"];
	var Total = (int)ViewData["totalCount"];
	var PrevID = @Model.QuestionID - 1;
	var NextID = @Model.QuestionID + 1;
}

<h1 class="h2 ls-tight mb-1">Pitanje @Model.QuestionID/@Total</h1>
<p class="d-inline me-2"> Omjer stranica izreza je @(is1x1 ? "1:1" : "16:9")</p>
<a class="btn btn-sm btn-outline-secondary d-inline" asp-controller="Survey" asp-action="Start">
    Upute
</a>

<form asp-action="Submit" method="post">
	<input type="hidden" asp-for="QuestionID" value=@Model.QuestionID />
	<input type="hidden" asp-for="Original" value=@Model.Original />
	<input type="hidden" asp-for="CropA" value=@Model.CropA />
	<input type="hidden" asp-for="CropB" value=@Model.CropB />
	<input type="hidden" asp-for="ValueA" value=@Model.ValueA />
	<input type="hidden" asp-for="ValueB" value=@Model.ValueB />


	<div class="row d-flex align-items-center text-center text-lg-left mb-10">
		<div class="col-12 col-xl-4 mt-10 position-relative">
			<p class="lead">Original</p>
			<img class="h-25 w-75" src="~/img/photos/@Model.Original" >
			<div style="height: 60px" class="mt-2"></div>
		</div>
		<div class="col-12 col-xl-4 mt-10 position-relative">
			<p class="lead">Izrez A</p>
			<img class="h-25 w-75" src="~/img/crops/@Model.CropA">
			<ul class="d-flex justify-content-center mt-2 p-0">
				@for (var i = 1; i <= 5; i++)
				{
					<li class="form-group form-check px-2">
						@if (Model.ValueA == i)
						{
							<input class="form-check-input d-block float-none m-0" type="radio" name="RatingA" value="@i" id="RatingA-@i" checked />
						} else
						{
							<input class="form-check-input d-block float-none m-0" type="radio" name="RatingA" value="@i" id="RatingA-@i" />
						}
						<label class="form-check-label" for="RatingA-@i">@i</label>
					</li>
				}
			</ul>
			<span class="text-danger position-absolute translate-middle radio-val" asp-validation-for="ValueA"></span>
		</div>
		<div class="col-12 col-xl-4 mt-10 position-relative">
			<p class="lead">Izrez B</p>
			<img class="h-25 w-75" src="~/img/crops/@Model.CropB">
			<ul class="d-flex justify-content-center mt-2 p-0">
				@for (var i = 1; i <= 5; i++)
				{
					<li class="form-check px-2">
						@if (Model.ValueB == i)
						{
							<input class="form-check-input d-block float-none m-0" type="radio" name="RatingB" value="@i" id="RatingB-@i" checked />
						} else
						{
							<input class="form-check-input d-block float-none m-0" type="radio" name="RatingB" value="@i" id="RatingB-@i" />
						}
						<label class="form-check-label" for="RatingB-@i">@i</label>
					</li>
				}
			</ul>
			<span class="text-danger position-absolute translate-middle radio-val" asp-validation-for="ValueB"></span>
		</div>
	</div>
	<div class="row d-flex flex-column-reverse flex-lg-row pb-10">
		@if (PrevID > 0)
		{
			<div class="col-12 col-lg-6 d-flex mb-3">
				<a class="btn btn-sm btn-primary w-100 w-lg-auto" asp-controller="Survey" asp-action="Question" asp-route-id="@PrevID">
					Natrag
				</a>
			</div>
			<div class="col-12 col-lg-6 d-flex justify-content-end mb-3">
				<button class="btn btn-sm btn-primary w-100 w-lg-auto" type="submit">
					@(Model.QuestionID == Total ? "Završi anketu" : "Iduće pitanje")
				</button>
			</div>
		} else
		{
			<div class="col d-flex justify-content-end">
				<button class="btn btn-sm btn-primary w-100 w-lg-auto" type="submit">
					Iduće pitanje
				</button>
			</div>
		}
	</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
	<script type="text/javascript">
		$.validator.setDefaults({ ignore: null });
		$("input[name='RatingA']").on("click", (event) => $("input[name='ValueA']").val(event.target.value));
		$("input[name='RatingB']").on("click", (event) => $("input[name='ValueB']").val(event.target.value));
	</script>
}
